.root-container {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
}

.score-label {
    font-size: 161px;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
    -unity-text-align: upper-center;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}
